{{!-- my code here --}}


{{!-- this is the page the user sees when they ARE LOGGED IN --}}

<body class="auth-true welcome-page">
    <div class="container ">
        <h1>Welcome to your profile page.</h1>
    </div>
    {{!-- <p>"LOGIN HERE JUST FOR TESTING"</p>
    <button type="submit" class="google-login-button" id="googleLogin">Login with Google</button> --}}

    <div>
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/img/logomovie.png" class="img-logo text-center" alt="logo">
                <br>
                <br>
                <h2 class="text-center">The smart way to find movies.</h2>


                <div class="row pt-2 pb-5">
                    <h3 class="text-center">These are your saved movies and shows</h3>


                    
    <div class="row pt-2 pb-5 saved-user-movies">
        <div class="col">
            <h2 class="text-center pt-3 pb-3 mb-4 backcol">Usermedia!</h2>
            <ul class="pl-5">
                {{#each usermedia}}
                <li>
                    <div class="row pb-2">
                        <div class="col-4">
                            {{MediumId}}
                        </div>
                       <div class="col-4">
                             {{media_name}}
                        </div> 
                        {{!-- <div class="col-1">
                            {{burger_counter}}
                        </div> --}} 
                        <div class="col-3">
                            <button class="devour btn btn-warning btn-sm" data-id="{{this.id}}">Delete!</button>
                        </div>
                    </div>
                </li>

                {{/each}}
            </ul>
        </div>


                    <ul>
                        {{#each selected_movies}}
                        <li>
                            <p>Title: {{title}}</p>
                            <p>Year: {{year}}</p>
                            data-id="{{this.imdbid}}"
                            <button class="delete-button">Delete</button>
                        </li>
                        {{/each}}
                    </ul>


                </div>
            </div>
        </div>

        {{!-- add rating here --}}
        {{!-- data rating give a default rating of 4 --}}
        <div class="rating-div">
            <div class="row">
                <h4>Give your movie/show rating here <small>Hover and click on a star</small></h2>
            </div>
            <div class="row lead">
                <div id="stars-existing" class="starrr" data-rating='4'></div>
                You gave a rating of <span id="count-existing">4</span> star(s)
            </div>
        </div>

        {{!-- add your comment here --}}

        <form>
            <div class="form-group comment-div">
                <label for="formGroupExampleInput2">Movie or Show Review</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
            </div>

        </form>
        </div>
    </div>
    </div>
    </div>

    <script src="assets/js/app.js"> </script>
    <script src="https://www.gstatic.com/firebasejs/5.7.1/firebase.js"></script>
    <script src="assets/js/login.js"></script>
    <script src="assets/js/rating.js"></script>


</body>