<div class="container">

    <div class="row mb-4 mt-4">
        <div class="col-10">
            <img src="assets/img/logomovie.png" class="img-logo" alt="logo">
        </div>

        <div class="col-2">
            <button class="btn btn-primary btn-sm" id="googelogout" type="submit">Log out</button>
        </div>
    </div>

    <div class="row mb-4 mt-4">
        <div class="col">
            <h1 class="text-center">Welcome to your profile page.</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <h2 class="text-center mt-3 mb-3">These are your saved movies and shows</h2>
        </div>
    </div>

    <div class="row pt-2 pb-5 saved-user-movies">
        <div class="col">

            <ul class="pl-5">
                {{#each usermedia}}
                <li>
                    <div class="row pb-2 align-items-center">
                        <div class="col-2">
                         <img style="width:100px;height:150px;" src="https://image.tmdb.org/t/p/w300/{{{Medium.media_pic}}}">
                        </div>
                        <div class="col-5">
                            <h3>{{Medium.media_name}}</h3>
                        </div>
                         <div class="col-3">
                            <h3>{{myreview}} - 
                             {{rating}}</h3>
                        </div>
                        <div class="col-2">
                            <button class="delete btn-warning btn-sm" data-id="{{this.id}}">Delete!</button>
                        </div>
                    </div>
                </li>

                {{/each}}
            </ul>
        </div>


        <ul>
            {{#each selected_movies}}
            <li>
                <p>Title: {{title}}</p>
                <p>Year: {{year}}</p>
                data-id="{{this.imdbid}}"
                <button class="delete-button">Delete</button>
            </li>
            {{/each}}
        </ul>


    </div>


{{!-- ///////////////// Pending --}}

    <div class="rating-div">
        <div class="row">
            <h4>Give your movie/show rating here <small>Hover and click on a star</small></h2>
        </div>
        <div class="row lead">
            <div id="stars-existing" class="starrr" data-rating='4'></div>
            You gave a rating of <span id="count-existing">4</span> star(s)
        </div>
    </div>

    {{!-- add your comment here --}}

    <form>
        <div class="form-group comment-div">
            <label for="formGroupExampleInput2">Movie or Show Review</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>

    </form>
</div>

<script src="https://www.gstatic.com/firebasejs/5.7.1/firebase.js"></script>
<script src="assets/js/login.js"></script>
<script src="assets/js/app.js"> </script>